body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input{
    border: 1px solid #5f9341;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(201, 201, 238);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-bottom: 4px;
}

#input-btn{
    background-color: #5f9341;
    width: 150px;
    border: none;
    padding: 10px 20px;
    color: #ffff;
    font-weight: bold;
    font-size: 16px;
}

#delete-btn{
    background-color:#ffff;
    width: 150px;
    border: 1px solid  #5f9341;
    padding: 10px 20px;
    color: #5f9341;
    font-weight: bold;
    font-size: 16px;
}

li{
    
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
}

ul{
    list-style: none;
    padding-left: 0;
    margin-top: 20px;
}

li a{
   color: #5f9341; 
}